body {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#main {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  border-color: rgb(2, 2, 2);
  background-image: linear-gradient(to top right, rgb(41, 155, 248), #c7e6f3);
  opacity: 0.9;
  color: #ffffff;
}
#zone {
  border: 1px solid #dadde1;
  border-radius: 10px;
  max-width: 600px;
  margin: 10px auto;
  padding: 20px;
  opacity: 0.9;
}

section {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  border-color: rgb(2, 2, 2);
  background-image: linear-gradient(to top right, rgb(41, 155, 248), #c7e6f3);
  opacity: 0.9;
  color: #ffffff;
}
#forecast {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  border-color: rgb(2, 2, 2);
  background-image: linear-gradient(to top right, rgb(41, 155, 248), #c7e6f3);
  opacity: 0.9;
  color: #ffffff;
}
h1 {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 55px;

  text-align: center;
  text-shadow: 1px 1px 1px rgb(125, 158, 180);
}
h2 {
  font-size: 20px;
}
#lastUpdate {
  font-size: 13px;
  margin: 8px;
}
h3 {
  font-size: 14px;
}
#temp-now {
  font-size: 70px;
}

.searchCity {
  margin: 0 auto;
  padding: 20px 10px 10px 10px;
  margin: 10px 20px;
}

#buttonSearch {
  color: rgb(255, 255, 255);
  background-color: rgb(2, 48, 71);
  opacity: 0.9;
  transition: all 200ms ease-in-out;
  border-radius: 5px;
}
#buttonSearch:hover {
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  transition: all 200ms ease-in-out;
}
#myLocation {
  cursor: pointer;
}
.units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
#description {
  font-size: 23px;
  text-transform: capitalize;
}

li {
  list-style: none;
  font-size: 16px;
  font-weight: 100;
  line-height: 20px;
  text-align: center;
}
#days {
  font-size: 18px;
  margin: 10px;
  padding: 8px;
  color: rgb(0, 0, 0);

  border-radius: 5px;
  font-weight: normal;
}

#date {
  font-size: 14px;
  margin: 8px;
}

.gitHub {
  color: black;
}
footer {
  margin: 0;
}
